
    /* styles.css */
    h1{
        background-color: #8a8a8a;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
        font-size: 40px;
    }
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        text-align: center;
    }
    img{ 
        width: 300px;
        height: auto;
        border-radius: 50px;
    }

    h1 {
        color: rgb(247, 240, 244);
    }
    div{
        margin: 20px;
        padding: 20px;
        
    }
    